@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    /* FUNDOS --------------------------- */

    --fundo: #0d1117;
    --fundo-header: #010409;
    --fundo-barra-pesquisa: #010409;

    /*-------------------------------------*/

    /* TEXTOS ----------------------------------*/

    --titulo: #c9d1d9;
    /* texto da página no geral */
    --texto: #c9d1d9;
    /* texto do menu de cima */
    --texto-header: #c9d1d9;
    /* cor do texto quando digita no input */
    --texto-input: black;

    /*------------------------------------------*/

    /* LINKS, ICONES NO HEADER ----------------- */

    --link: #c9d1d9;
    /* quando o mouse ta em cima */
    --link-hover: white;

    /* ----------------------------------------- */




    /* PLACEHOLDERS -------------------------------------------------------*/

    /* textos na barra de pesquisa e nos inputs das telas login e cadastro */
    --placeholder: #c9d1d9;
    --placeholder-focus: white;
    --placeholder-input-focus: #c9d1d9;
    /* cor da data no card da pergunta */
    --placeholder-date: gray;

    /*----------------------------------------------------------------------*/

    /* CORES DAS BORDAS -----------------------*/

    --borda-header: #c9d1d9;
    --borda-barra-pesquisa: #c9d1d9;
    /* inputs das telas de login e cadastro */
    --borda-input: #c9d1d9;
    --borda-card: #c9d1d9;

    /*----------------------------------------*/

    /* OUTROS --------------*/
    
    /* icones do card */
    --icone: #38bdf8;
    --hamburguer: #c9d1d9;

    /*----------------------*/

}

* {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: 'Work Sans', sans-serif;
}

h1, h2 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.preto {
    background-color: black;
}

.flex {
    display: flex;
}


/* icones */

.icones {
    width: 24px;
    height: 24px;
    padding-inline: 1rem;
}

/*--------------*/





/* --------- header ------------*/

.logo {
    text-decoration: none;
    font-weight: bold;
    color: var(--titulo);
    font-size: 20rem;
}

.logo h1 {
    color: var(--titulo);
    font-weight: bold;
    margin: 0;
}

.caixa-nav {
    background-color: var(--fundo-header);
    border-bottom: 1px solid var(--borda-header);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;
}

.pesquisa {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 0.1rem;

}

.iconePesquisa {
    position: absolute;
    color: var(--icone);
    padding-inline: 0.3rem;
    pointer-events: none;
}

.barraPesquisa {
    width: 30rem;
    padding: 0.3rem 1.5rem;
    background-color: var(--fundo-barra-pesquisa);
    border-radius: 30px;
    border: 1px solid var(--borda-barra-pesquisa);
    max-height: 37px;
}

.barraPesquisa::placeholder {
    color: var(--placeholder);
}

.barraPesquisa:focus {
    outline: none;
}

.barraPesquisa:focus+.iconePesquisa,
.barraPesquisa:focus::placeholder {
    color: var(--placeholder-focus);
}



.caixa-nav li {
    list-style: none;
}

.caixa-nav a {
    color: var(--link);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--link-hover);
}

.mudar-tema {
    background: none;
    border: none;
    color: var(--link);
    cursor: pointer;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--hamburguer);
}

/* -------------------------- */


/* index */

main {
    position: absolute;
    top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bem-vindo {
    font-size: 1.5rem;
    color: var(--titulo);
}

/* CARD */

.card {
    min-width: 18rem;
    max-width: 18rem;
    border: 1px solid var(--borda-card);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #21262d !important;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0 0.5rem;
}

.txtUsuario {
    font-style: italic;
}

.cardTitulo {
    text-align: center;
    color: var(--titulo);
    word-wrap: break-word;
}

.cardText {
    text-align: justify;
    word-wrap: break-word;
    color: var(--texto);
}

.cardFooter {
    display: flex;
    border-top: 1px solid var(--borda);
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.cardIcone {
    color: var(--icone);
}

.date {
    color: var(--placeholder-date);
}

/*--------------------------*/


/*-----------------------*/


@media only screen and (width: 375px) {
    /* Mobile M */

    * {
        font-size: 17px;
    }

    .card {
        min-width: 21rem;
        max-width: 21rem;
    }
}

@media only screen and (width: 425px) {
    /* Mobile L */

    * {
        font-size: 19px;
    }

    .card {
        min-width: 21rem;
        max-width: 21rem;
    }
}

@media screen and (max-width: 425px) {

    .barraPesquisa {
        max-width: 10rem;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 768px) {
    /* Tablet para cima */

    * {
        font-size: 21px;
    }


    /* header */

    .iconePesquisa {
        color: var(--placeholder);
    }

    .autenticacao {
        display: flex;
    }

    .barraPesquisa {
        max-width: 20rem;
    }

    /*----------------------- */

    .card {
        padding: 0 1rem;
        min-width: 32rem;
        max-width: 32rem;
    }

}

@media screen and (max-width: 1023px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 2.3rem;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--fundo-header);
        width: 100%;
        border: 1px solid var(--borda);
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media screen and (min-width: 1024px) {
    /* Laptop para cima */

    * {
        font-size: 20px;
    }

    .descricao {
        display: none;
    }

    .barraPesquisa {
        max-width: 30rem;
    }

    .card {
        min-width: 41rem;
        max-width: 41rem;
    }
}

@media screen and (min-width: 1440px) {
    /* Laptop L para cima */

    * {
        font-size: 24px;
    }
}

@media screen and (min-width: 2560px) {
    /* 4k para cima para cima */

    * {
        font-size: 26px;
    }
}